* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 6fr;
}

.title {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0px 10px 0px;
}

.newproject {
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 18px;
}

.newproject:hover {
    cursor: pointer;
}

.sidebar {
    grid-row: 3/4;
    grid-column: 1/2;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    overflow: overlay;
    scrollbar-width: thin;
}

.contentTitle {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.contentTitle > h3 {
    font-size: 28px;
}

.content {
    grid-row: 2/4;
    grid-column: 2/3;
    border: 1px solid white;
    padding: 20px;
    overflow: overlay;
    scrollbar-width: auto;
}

.content > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addTodoButton {
    padding: 8px 25px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    gap: 16px;
}

.header > h3 {
    font-size: 28px;
}

.header > button {

}

ul {
    margin: 10px 1px;
}

li {
    list-style-type: none;
    padding: 10px;
}

.todoTitle {
    font-size: 20px;
}

.dueDate {
    color: white;
}

.Description {
    color: grey;
}

.centralPopupDiv {
    position: absolute;
    top: 30vh;
    left: 32vw;
    border: 1px solid white;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    transition: opacity 0.2s;
}

.projPopup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projPopup > h1 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 90%;
    text-align: center;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.blursheet {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.2s;
    backdrop-filter: blur(5px);
}

.projPopup > form {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.projPopup > form > input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
}

.projPopup > form > label {
    font-size: 20px;
    position: relative;
    right: 120px;
}

.projSubmitButton {
    width: 100px;
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
}

.projSubmitButton:hover {
    cursor: pointer;
}

.todoPopup {
    top: 20vh;
    padding: 20px;
    height: 400px;
}

.todoPopup > h1 {
    text-align: center;
    border-bottom: 1px solid white;
}

.formelement {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

#newtodoform {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    align-items: center;
}

.todoname > input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
}

.tododescription > textarea {
    width: 400px;
    height: 80px;
    resize: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.todootherinfo {
    display: flex;
    gap: 170px;
}

.tododate > input {
    height: 25px;
    border-radius: 5px;
    padding-left: 2px;
}

.todopriority > select {
    height: 25px;
    border-radius: 5px;
}

.todoSubmitButton {
    margin-top: 50px;
    padding: 5px 25px;
    border-radius: 10px;
}

.projListButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.projListButtons > li {
    height: 8vh;
}

.blackProjButton {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 20px;
}

.blackProjButton:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.851);
}

.whiteProjButton {
    background-color: rgba(255, 255, 255, 0.851);
    color: black;
}

li {
    padding: 0;
}

button {
    transition: background-color 0.2s;
    transition: color 0.1s;
}

button:hover {
    background-color: grey;
}